nav(class="bg-transparent border-b border-gray-700 flex items-center w-full")
  .container.flex.items-center.justify-between.py-3.m-auto 
    button(id="theme-toggle" type="button" aria-label="Toggle theme" class="text-white px-3 py-2 rounded-md bg-gray-800 hover:bg-gray-700 mr-5") 🌙
    a(href="/" class="flex items-center gap-3")
      span.site-title(class="text-2xl text-white") SportShop
    form(class="flex-1 mx-6")

    .flex.items-center.gap-3


      if account
        a(href="/cart" class="relative text-white ")
          span(class="text-white hover:text-gray-500") Корзина
        .flex.items-center.gap-2
          span(class="text-white hidden sm:inline-block pl-100") Привет, #{account.name}
          a(href="/clear" class="text-white px-3 py-2 rounded-md bg-red-600 hover:bg-red-500") Выход
      else 
        a(href="/register" class="relative text-white ")
          span(class="text-white hover:text-gray-500") Регистрация 
        a(href="/login" class="relative text-white ")
          span(class="text-white hover:text-gray-500") Вход