doctype html
html(lang="en")
  head
    title page1

  body
    if error != undefined 
      p Аккаунт уже зарегестрирован на эту почту

    form(method="post" action="/register")

      input(type="email" name="mail" placeholder= "What you email" )
      input(type="text" name="name" placeholder="What you name" )
      input(type="password" name="password" placeholder="What you password")
      input(type="text" name="year" placeholder="What you year" )
      input(type="submit" value="Confirm" )
